body {
	width: 100%;
	height: 100%;
	margin: 0 auto;
}

h3 {
	font-weight: normal!important;
}

.header-2 {
	background-color: #ffffff;
	width: 980px;
	margin: 0 auto;
	padding: 16px;
}

.menu ul li {
	display:inline-block;
	color: #8b8b8b;
	margin-left: 15px;
	height: 50px;
}

.menu ul li :hover {
	border-bottom: 3px solid #00bac6;
}

.menu ul li a:hover {
	color: #00bac6;
}

.menu ul li a {
	color: #8b8b8b;
	text-decoration: none;
	font-size: 18px;
	text-transform: uppercase;
}

.menu {
	width: 70%;
	float: left;
}

.menu-urls {
	display: inline-block;
	color: #8b8b8b;
	height: 50px;
}

.menu-urls li {
	padding-left: 70px;
	text-align: center
}

.col-100 {
	width: 100%;
	float: left;
	position: relative;
}

.col-3 {
	text-align: center;
	padding-left: 15px;
	padding-right: 15px;
	width: 29%;
	float: left;
	position: relative;
	
}

.footer {
	background-image: url('../img/footer.png');
	color: #ffffff;
	opacity: 0.5;
}

.footer h3 {
	text-align: left;
}

.footer-2 {
	background-image: url('../img/footer-2.png');
	height: 90px;
}

.footer p {
	padding: 10px;
}

.footer-2 p {
	width: 90%;
	text-align: left;
}

main, .content {
	margin: 0 auto;
	width: 980px;
	position: relative;
}

button.slick-prev {
	font-size: 0px;
	border: none;
	width: 25px;
	height: 51px;
	z-index: 9;
	background-color: transparent;
	position: absolute;
	top: 35%;
	left: 14%;
}

button.slick-next {
	font-size`: 0px;
	border: none;
	width: 25px;
	height: 51px;
	z-index: 9;
	background-color:transparent;
	position: absolute;
	top: 35%;
	left: 14%;
}

.slick-list {
	width: 100%!important;
}

.slick-initializer {
	overflow: hidden;
}

.slick-dots li button {
	font-size: 0px;
	border: 5px solid #ffffff;
	width: 26px;
	height: 26px;
	background: transparent;
	border-radius: 50%;
	cursor: pointer;
	
}

.slick-dots {
	margin: 0 auto;
	width: 50%;
	position: absolute;
	left: 50%;
	top: 600px;
}

li.slick-active button {
	background: #00bac6;
}	

.slick-dots li {
	padding-left: 10px;
	display: inline-block;
}

.texto-destaque {
	text-align: center;
}	

.texto-destaque strong {
	color: #646464;
}

.texto-destaque h1 {
	color: #818181;
	font-size: 30px;
	text-transform: uppercase;
}

.texto-destaque p {
	color: #9a9a9a;
	font-size: 15px;
	
} 

.col-3 {
    text-align: center;
    padding-left: 15px;
    padding-right: 15px; 
    width: 29%;
    float: left;
    position: relative;
}

.bloco-imagem img {
	margin: 0 auto;
	width: 100%;
	height: auto;
}

.bloco-imagem {
	margin-left: 10px;
	border: 1px solid #c5c5c5;
	height: 300px;
	padding-top: 15px;
	padding-left: 10px;
	padding-bottom: 15px;
}

.bloco-imagem b, p {
	text-align: 3em;
}

.bloco-texto {
	margin-top: 3em;
}

.bloco-imagens-texto {
	background-color: #eeeeee;
}

.bloco-imagens-texto:before {
	width: 100%;
	display: inline-block;
	content: '';
	height: 52px;
	background: #ffffff;
	background-image: url('../img/setinha.png');
	background-repeat: no-repeat;
	background-position: center;
}

.background-imagens-texto:after {
	width: 100%;
	display: inline-block;
	content: '';
	height: 40px;
	background: #eeeeee;
	
}

#imagem1 {
	height: 300px;
	padding: 10px;
	border: 3px solid grey;
}

#imagem2 {
	height: 300px;
	padding: 10px;
	border: 3px solid grey;
}

#imagem3 {
	height: 300px;
	padding: 10px;
	border: 3px solid grey;
}

.bloco-logos div{
	width: 25%;
	display: inline-block;
	float: left;
}

.bloco-logos img{
	cursor: pointer;
	margin: 0 auto;
	padding-top: 1em;
	vertical-align: middle;
	margin-top: 30px;
}

.bloco-logos img:hover{
	margin-top: 10px!important;
	position: relative!important;
}

.bloco-logos {
	height: 170px;
}

.local:before, .email:before, .telefone:before {
	content: '';
	width: 17px;
	height: 24px;
	display: inline-block;
	float: left;
	background-repeat: no-repeat;
	padding-left: 5px;
}

.local:before {
	background-image: url('../img/local.png');
}

.email:before {
	background-image: url('../img/email.png');
}

.telefone:before {
	background-image: url('../img/telefoneico.png');
}